In [1]:
%load_ext sql

In [2]:
%%sql

sqlite:///CourseDataWarehouseDemo.db
    
attach "CourseData.db" as db1

Done.

[]

In [7]:
%%sql

PRAGMA table_info(COURSE_MEETINGS);

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

In [17]:
DROP TABLE IF EXISTS INSTRUCTOR_WH;
DROP TABLE IF EXISTS LOCATION_WH;
DROP TABLE IF EXISTS MEETINGS_WH;
DROP TABLE IF EXISTS TOTAL_COURSES_WH;
DROP TABLE IF EXISTS COURSES_WH;

SyntaxError: invalid syntax (<ipython-input-17-e199966188b1>, line 1)

Creating the tables for our Data Warehouse. There are only 5 tables, with one fact table.

In [8]:
%%sql

CREATE TABLE INSTRUCTOR_WH (
    IID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

In [9]:
%%sql

CREATE TABLE LOCATION_WH (
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

In [10]:
%%sql

CREATE TABLE MEETINGS_WH (
    MID INTEGER PRIMARY KEY,
    Meetings TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

In [11]:
%%sql

CREATE TABLE TOTAL_COURSES_WH (
    CRN INTEGER NOT NULL,
    Tot_Courses INTEGER NOT NULL);

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

In [12]:
%%sql

CREATE TABLE COURSES_WH (
    COID INTEGER PRIMARY KEY,
    CatalogID INTEGER NOT NULL,
    CRN INTEGER,
    Title TEXT NOT NULL,
    LID INTEGER NOT NULL,
    MID INTEGER NOT NULL,
    Section TEXT,
    IID INTEGER NOT NULL,
    Cap TEXT,
    Act TEXT,
    Rem TEXT,
    Tot_Courses INT,
    Credits VARCHAR NOT NULL,
    Prereqs TEXT,
    FOREIGN KEY (LID) REFERENCES LOCATION(LID),
    FOREIGN KEY (MID) REFERENCES MEETINGS(MID),
    FOREIGN KEY (IID) REFERENCES INSTRUCTOR(IID)
    )

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

Inserting data into the tables for the data warehouse to do some queries on and for user use.

In [13]:
%%sql

INSERT INTO INSTRUCTOR_WH (Name)
    SELECT DISTINCT Name
    FROM db1.INSTRUCTOR;

 * sqlite:///CourseDataWarehouseDemo.db
1105 rows affected.

[]

In [14]:
%%sql

INSERT INTO LOCATION_WH (Location)
    SELECT DISTINCT Location
    FROM db1.LOCATION;

 * sqlite:///CourseDataWarehouseDemo.db
208 rows affected.

[]

In [15]:
%%sql

INSERT INTO MEETINGS_WH (Meetings)
    SELECT DISTINCT meetings
    FROM db1.COURSE_OFFERINGS;

 * sqlite:///CourseDataWarehouseDemo.db
(sqlite3.OperationalError) no such table: db1.COURSE_OFFERINGS
[SQL: INSERT INTO MEETINGS_WH (Meetings)
    SELECT DISTINCT meetings
    FROM db1.COURSE_OFFERINGS;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [16]:
%%sql

INSERT INTO TOTAL_COURSES_WH (CRN, Tot_Courses)
    SELECT DISTINCT CRN, COUNT(DISTINCT CRN)
    FROM COURSE_MEETINGS
    GROUP BY CRN;

 * sqlite:///CourseDataWarehouseDemo.db
(sqlite3.OperationalError) no such table: COURSE_MEETINGS
[SQL: INSERT INTO TOTAL_COURSES_WH (CRN, Tot_Courses)
    SELECT DISTINCT CRN, COUNT(DISTINCT CRN)
    FROM COURSE_MEETINGS
    GROUP BY CRN;]
(Background on this error at: http://sqlalche.me/e/e3q8)

Vacuum

In [18]:
%%sql

vacuum;

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]