<big><b>Step 1:</b> Load the SQL extension</big>

In [28]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

<big><b>Step 2</b>: Connect sqlite to coursedata database</big>

In [29]:
%%sql

sqlite:///CourseData.db

'Connected: @CourseData.db'

<big><b>Step 3</b>: Determine columns within the dataset so that we can import this information to the appropriate tables </big>

In [30]:
%%sql

PRAGMA table_info(DATASET3);

 * sqlite:///CourseData.db
Done.

[(0, 'term', 'TEXT', 0, None, 0),
 (1, 'crn', 'TEXT', 0, None, 0),
 (2, 'catalog_id', 'TEXT', 0, None, 0),
 (3, 'section', 'TEXT', 0, None, 0),
 (4, 'credits', 'TEXT', 0, None, 0),
 (5, 'title', 'TEXT', 0, None, 0),
 (6, 'meetings', 'TEXT', 0, None, 0),
 (7, 'timecodes', 'TEXT', 0, None, 0),
 (8, 'primary_instructor', 'TEXT', 0, None, 0),
 (9, 'cap', 'TEXT', 0, None, 0),
 (10, 'act', 'TEXT', 0, None, 0),
 (11, 'rem', 'TEXT', 0, None, 0)]

<big><b>Step 4:</b></big>

<big> A) Create INSTRUCTOR table </big>

In [31]:
%%sql 

DROP TABLE IF EXISTS INSTRUCTOR;
CREATE TABLE INSTRUCTOR(
    IID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.
Done.

[]

<big> B) Create LOCATION table </big>

In [32]:
%%sql

DROP TABLE IF EXISTS LOCATION;
CREATE TABLE LOCATION(
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.
Done.

[]

<big> C) Create PROGRAM table</big>

In [33]:
%%sql

DROP TABLE IF EXISTS PROGRAM;
CREATE TABLE PROGRAM(
    PID INTEGER PRIMARY KEY,
    Program_Name TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.
Done.

[]

<big> D) Create CATALOG_COURSE table </big>

In [34]:
%%sql 

DROP TABLE IF EXISTS CATALOG_COURSE;
CREATE TABLE CATALOG_COURSE(
    CAID INTEGER NOT NULL PRIMARY KEY,
    CatalogID TEXT NOT NULL, 
    Program_Name TEXT NOT NULL,
    Credits VARCHAR NOT NULL,
    Title TEXT NOT NULL,
    PreReqs TEXT,
    Attributes TEXT,
    Description TEXT,
    FOREIGN KEY (Program_Name) REFERENCES PROGRAM(Program_Name)
);

 * sqlite:///CourseData.db
Done.
Done.

[]

<big> E) Create OFFERINGS_COURSE table </big>

In [35]:
%%sql 

DROP TABLE IF EXISTS OFFERINGS_COURSE;
CREATE TABLE OFFERINGS_COURSE(
    COID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Meetings TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    CRN TEXT NOT NULL,
    Term TEXT NOT NULL,
    Section TEXT NOT NULL,
    Cap INTEGER NOT NULL,
    Act INTEGER NOT NULL,
    Rem INTEGER NOT NULL,
    FOREIGN KEY (Name) REFERENCES INSTRUCTOR (Name),
    FOREIGN KEY (CatalogID) REFERENCES CATALOG_COURSE (CatalogID)
);

 * sqlite:///CourseData.db
Done.
Done.

[]

<big> F) Create MEETINGS_COURSE table </big>

In [36]:
%%sql

DROP TABLE IF EXISTS MEETINGS_COURSE;
CREATE TABLE MEETINGS_COURSE(
    CMID INTEGER PRIMARY KEY,
    CRN TEXT NOT NULL,
    Location TEXT NOT NULL,
    Day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (Location) REFERENCES LOCATION(Location),
    FOREIGN KEY (CRN) REFERENCES OFFERINGS_COURSE(CRN)
);

 * sqlite:///CourseData.db
Done.
Done.

[]

<big> <b> Step 5: </b> Populating the database with data

Here we populated the data with that we have imported into the 3 dataset tables

-Dataset 1 <br>
-Dataset 2 <br>
-Dataset 3 <br>
   </big>

<big> A) Populate PROGRAM table </big>

In [37]:
%%sql

DELETE FROM PROGRAM;
INSERT INTO PROGRAM (Program_Name)
    SELECT DISTINCT program_name
    FROM DATASET1;

DELETE FROM PROGRAM
WHERE Program_Name = 'program_name';

 * sqlite:///CourseData.db
0 rows affected.
83 rows affected.
1 rows affected.

[]

<big> B) Populate INSTRUCTOR table </big>

In [38]:
%%sql

DELETE FROM INSTRUCTOR;
INSERT INTO INSTRUCTOR (Name)
    SELECT DISTINCT primary_instructor
    FROM DATASET3;
    
DELETE FROM INSTRUCTOR
WHERE Name = 'primary_instructor';

 * sqlite:///CourseData.db
0 rows affected.
1105 rows affected.
1 rows affected.

[]

<big> C) Populate LOCATION table </big>

In [39]:
%%sql

DELETE FROM LOCATION;
INSERT INTO LOCATION (Location)
    SELECT DISTINCT location
    FROM DATASET2;
    
DELETE FROM LOCATION
WHERE Location = 'location';

 * sqlite:///CourseData.db
0 rows affected.
208 rows affected.
1 rows affected.

[]

<big> D) Populate CATALOG_COURSE table, link program name to PROGRAM table to ensure FK integrity </big>

In [40]:
%%sql

DELETE FROM CATALOG_COURSE;
INSERT INTO CATALOG_COURSE (CatalogID, Program_Name, Credits, Title, PreReqs, Attributes, Description)
    SELECT catalog_id, c.program_name, credits, course_title, prereqs, attributes, description
    FROM DATASET1 c
    LEFT JOIN PROGRAM d ON c.program_name = d.Program_Name;
    
DELETE FROM CATALOG_COURSE
WHERE CatalogID = 'catalog_id';

 * sqlite:///CourseData.db
0 rows affected.
4441 rows affected.
1 rows affected.

[]

<big> D) Populate OFFERINGS_COURSE table, link instructor name to INSTRUCTOR and catalog_id to CATALOG_COURSE table to ensure FK integrity </big>

In [41]:
%%sql

DELETE FROM OFFERINGS_COURSE;
INSERT INTO OFFERINGS_COURSE(Meetings, CRN, Term, CatalogID, Name, Section, Cap, Act, Rem)
    SELECT c.meetings, crn, term, c.catalog_id, section, IID, cap, act, rem
    FROM DATASET3 c
        INNER JOIN INSTRUCTOR i ON c.primary_instructor=i.Name
        INNER JOIN CATALOG_COURSE cc ON c.catalog_id = cc.CatalogID
 ;
DELETE FROM OFFERINGS_COURSE
WHERE CatalogID = 'catalog_id';

 * sqlite:///CourseData.db
0 rows affected.
30486 rows affected.
0 rows affected.

[]

<big> E) Populate MEETINGS_COURSE table, link location to LOCATION and CRN to OFFERINGS_COURSE table to ensure FK integrity </big>

In [45]:
%%sql

DELETE FROM MEETINGS_COURSE;
INSERT INTO MEETINGS_COURSE (CRN, Location, Day, Start, End)
    SELECT DISTINCT c.crn, c.location, day, start, end
    FROM DATASET2 c
    LEFT JOIN LOCATION l ON c.location=l.Location
    LEFT JOIN OFFERINGS_COURSE oc ON c.crn = oc.CRN;
    
DELETE FROM MEETINGS_COURSE
WHERE CRN = 'crn';

 * sqlite:///CourseData.db
0 rows affected.
284848 rows affected.
1 rows affected.

[]

In [43]:
%%sql

vacuum;

 * sqlite:///CourseData.db
Done.

[]