In [1]:
%load_ext sql

In [2]:
%%sql

sqlite:///CourseDataWarehouseDemo.db
    
attach "CourseData.db" as db1

Done.

[]

In [3]:
%%sql

PRAGMA table_info(COURSE_MEETINGS);

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]

In [9]:
%%sql



DROP TABLE IF EXISTS COURSES_WH;

 * sqlite:///CourseDataWarehouseDemo.db
Done.
Done.
Done.
Done.
Done.

[]

Creating the tables for our Data Warehouse. There are only 5 tables, with one fact table.

In [33]:
%%sql

DROP TABLE IF EXISTS INSTRUCTOR_WH;
CREATE TABLE INSTRUCTOR_WH (
    IID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouseDemo.db
Done.
Done.

[]

In [34]:
%%sql

DROP TABLE IF EXISTS LOCATION_WH;
CREATE TABLE LOCATION_WH (
    LID INTEGER PRIMARY KEY,
    Location TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouseDemo.db
Done.
Done.

[]

In [35]:
%%sql

DROP TABLE IF EXISTS MEETINGS_WH;
CREATE TABLE MEETINGS_WH (
    MID INTEGER PRIMARY KEY,
    Meetings TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouseDemo.db
Done.
Done.

[]

In [36]:
%%sql

DROP TABLE IF EXISTS TOTAL_COURSES_WH;
CREATE TABLE TOTAL_COURSES_WH (
    CRN INTEGER NOT NULL,
    Tot_Courses INTEGER NOT NULL);

 * sqlite:///CourseDataWarehouseDemo.db
Done.
Done.

[]

In [37]:
%%sql

DROP TABLE IF EXISTS COURSES_WH;
CREATE TABLE COURSES_WH (
    COID INTEGER PRIMARY KEY,
    CatalogID INTEGER NOT NULL,
    CRN INTEGER,
    Title TEXT NOT NULL,
    LID INTEGER NOT NULL,
    MID INTEGER NOT NULL,
    Section TEXT,
    IID INTEGER NOT NULL,
    Cap TEXT,
    Act TEXT,
    Rem TEXT,
    Tot_Courses INT,
    Credits VARCHAR NOT NULL,
    Prereqs TEXT,
    FOREIGN KEY (LID) REFERENCES LOCATION(LID),
    FOREIGN KEY (MID) REFERENCES MEETINGS(MID),
    FOREIGN KEY (IID) REFERENCES INSTRUCTOR(IID)
    )

 * sqlite:///CourseDataWarehouseDemo.db
Done.
Done.

[]

Inserting data into the tables for the data warehouse to do some queries on and for user use.

In [38]:
%%sql

INSERT INTO INSTRUCTOR_WH (Name)
    SELECT DISTINCT Name
    FROM db1.INSTRUCTOR;

 * sqlite:///CourseDataWarehouseDemo.db
1104 rows affected.

[]

In [39]:
%%sql

INSERT INTO LOCATION_WH (Location)
    SELECT DISTINCT Location
    FROM db1.LOCATION;

 * sqlite:///CourseDataWarehouseDemo.db
207 rows affected.

[]

In [40]:
%%sql

INSERT INTO MEETINGS_WH (Meetings)
    SELECT DISTINCT meetings
    FROM db1.OFFERINGS_COURSE;

 * sqlite:///CourseDataWarehouseDemo.db
12039 rows affected.

[]

In [46]:
%%sql

INSERT INTO TOTAL_COURSES_WH (CRN, Tot_Courses)
    SELECT DISTINCT CRN, COUNT(CRN)
    FROM db1.MEETINGS_COURSE
    GROUP BY CRN;

 * sqlite:///CourseDataWarehouseDemo.db
11291 rows affected.

[]

Vacuum

In [45]:
%%sql

vacuum;

 * sqlite:///CourseDataWarehouseDemo.db
Done.

[]